doctype html
head
	title Player
	link(rel="stylesheet",href="../css/audio_player.css")
	link(rel="stylesheet",href="font/css/font-awesome.min.css")
body
	.player-wrap
		.player-control
			.back <i class="fa fa-backward" aria-hidden="true"></i>
			.play <i class="fa fa-play" aria-hidden="true"></i>
			.next <i class="fa fa-forward" aria-hidden="true"></i>

	.details-wrap
		//- label#now-plaing 
		h2 1. Jamsauce
			audio.curr(loop='loop' data-index='0')
				source(src='songs/jamsauce.mp3' type='audio/mp3')
		//- label
		h2 2. Hall Of Fame
			audio(loop='loop' data-index='1')
				source(src='songs/Hall of fame.mp3' type='audio/mp3')
		//- label
		h2 3.Burn
			audio(loop='loop' data-index='2')
				source(src='songs/Burn.mp3' type='audio/mp3')



	script(src="../Scripts/jquery-2.1.3.min.js")
	script(src="../Scripts/audio_player.js")