doctype html
html
	head
		title Checkboxes
		link(rel="stylesheet",href="../css/checkboxes.css")
		link(rel="stylesheet",href="font/css/font-awesome.min.css")
	body
		form
			label 
				input(type='checkbox')
				span.label-text  Item one
			br
			label 
				input(type='checkbox')
				span.label-text  Item Two
			br
			label 
				input(type='checkbox',disabled)
				span.label-text  Item Three	

