doctype html
html
  head
    title Transperent
   
    link(rel='shortcut icon', href='css/images/favicon.ico')
   
    link(rel='stylesheet', type='text/css', href='../css/opacity.css')
  body
    div
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolore eveniet illum aut est rerum aperiam placeat, sint assumenda iste!

    form(action='#', method='get')
      fieldset
        legend(align='top') User Information
       
       
        input#name(type='text', placeholder='Name', size='20')
       
       
        input#Intrest(type='number', placeholder='Intrest')
       
       
        input#Year(type='text', placeholder='Year')
       
        input#Principle(type='text', placeholder='Principle')
       
        input#btn(type='button', value='Send')

