doctype html
html
	head
		title Redesigned_forms
		link(rel="stylesheet", href="../css/redesigned-forms.css")
	body
		.maintext
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt mollitia, nihil deserunt officia, eos illum illo. Tempore unde  vel!

		form.new-form
			.input-group
				input(type="text")
				label Name
			.input-group
				input(type="email")
				label Email
			.send
				input(type="submit")



	script(src="../scripts/jquery-2.1.3.min.js")
	script(src="../scripts/Redesigned_forms.js")